<div class="applicationTestPlanDashboard component-block">
  <div class="header">
    <div class="headerTitle">
      <h3 class="sectionHeader">Application Test Plans</h3>
      <a class="btn startNewProcessBtn" href="#/process-form"
        >Submit Test Date</a
      >
    </div>
    <div class="controlsBar">
      <div class="statusInfo">
        <div class="status">
          <span class="statusIndicator approvedStatus"></span>
          Completed
        </div>
        <div class="status">
          <span class="statusIndicator inProgressStatus"></span>
          In Progress
        </div>
        <div class="status">
          <span class="statusIndicator notStartedStatus"></span>
          Overdue
        </div>
      </div>
      <date-range
        on-range-change="ctrl.onDateRangeChange(startDate, endDate)"
        start-date="ctrl.filterStartDate"
        end-date="ctrl.filterEndDate"
      />
    </div>
  </div>
  <div class="form-inline filter-container">
    <div class="form-group">
      <label for="Filter" style="margin-bottom: 0">Search:</label>
      <input
        type="text"
        class="form-control"
        ng-model="ctrl.filterValue"
        ng-change="ctrl.onChangeFilter()"
        placeholder="type..."
      />
    </div>
  </div>
  <div>
    <table class="table">
      <tr>
        <th>Approve</th>
        <th>Edit</th>
        <th></th>
        <th ng-click="ctrl.sortData('Application')" class="sorted-column">
          <span>
            Application
            <i
              ng-if="ctrl.sortColumn === 'Application'"
              class="glyphicon"
              ng-class="ctrl.sortAscending ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"
            ></i>
          </span>
        </th>
        <th ng-click="ctrl.sortData('TestPlanOwner')" class="sorted-column">
          <span>
            Test Plan Owner/POC
            <i
              ng-if="ctrl.sortColumn === 'TestPlanOwner'"
              class="glyphicon"
              ng-class="ctrl.sortAscending ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"
            ></i>
          </span>
        </th>
        <th ng-click="ctrl.sortData('DueDate')" class="sorted-column">
          <span>
            Test Date
            <i
              ng-if="ctrl.sortColumn === 'DueDate'"
              class="glyphicon"
              ng-class="ctrl.sortAscending ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"
            ></i>
          </span>
        </th>
        <th style="min-width: 110px">Draft Plan Received</th>
        <th style="min-width: 110px">Test Plan Approved</th>
        <th style="min-width: 110px">Draft Results Received</th>
        <th style="min-width: 110px">Results Approved</th>
        <th style="min-width: 110px">Application Status</th>
        <th style="width: 20px"></th>
      </tr>
      <tbody ng-repeat="parent in ctrl.filteredItems">
        <tr
          class="parent-row"
          ng-class="{'alone': !parent.ChildrenItems || !parent.ChildrenItems.length}"
          ng-click="parent.isCollapsed = !parent.isCollapsed"
        >
          <td>
            <div
              class="checkbox text-center"
              ng-if="parent.Status !== 'Completed'"
            >
              <label>
                <input
                  type="checkbox"
                  ng-model="parent.selected"
                  ng-click="ctrl.selectItem($event, parent)"
                />
              </label>
            </div>
          </td>
          <td>
            <i
              ng-if="parent.Status !== 'Completed'"
              class="glyphicon glyphicon-pencil editIcon"
              ng-click="ctrl.setIncorrectData($event, parent)"
            ></i>
          </td>
          <td>
            <a
              ng-if="parent.TestPlan && parent.TestPlan.Id"
              href="#/process-form/{{parent.TestPlan.Id}}"
              ><i class="glyphicon glyphicon-edit editIcon"></i
            ></a>
          </td>
          <td>{{parent.Title}}</td>
          <td>
            <div ng-repeat="i in parent.TestPlanOwner.results">{{i.Title}}</div>
          </td>
          <td>{{parent.TestPlan.DueDate | date: 'MM/dd/yyyy'}}</td>
          <td>
            <div
              class="text-center"
              ng-bind-html="ctrl.getDraftTestPlanReceivedIndicator(parent)"
            ></div>
          </td>
          <td>
            <div
              class="text-center"
              ng-bind-html="ctrl.getDraftTestPlanManagerApprovalIndicator(parent)"
            ></div>
          </td>
          <td>
            <div
              class="text-center"
              ng-bind-html="ctrl.getTestsResultsReceivedIndicator(parent)"
            ></div>
          </td>
          <td>
            <div
              class="text-center"
              ng-bind-html="ctrl.getTestsResultsApprovedIndicator(parent)"
            ></div>
          </td>
          <td>
            <div
              class="text-center"
              ng-bind-html="ctrl.getStatusIndicator(parent.Status)"
            ></div>
          </td>
          <td>
            <i
              ng-if="parent.ChildrenItems && parent.ChildrenItems.length"
              class="glyphicon"
              ng-class="parent.isCollapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"
            ></i>
          </td>
        </tr>
        <tr>
          <td
            ng-if="parent.ChildrenItems && parent.ChildrenItems.length"
            colspan="12"
            class="children-row-cell"
          >
            <div uib-collapse="parent.isCollapsed">
              <table class="children-table">
                <tr ng-repeat="item in parent.ChildrenItems">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>{{item.Title}}</td>
                  <td>
                    <div ng-repeat="i in item.TestPlanOwner.results">
                      {{i.Title}}
                    </div>
                  </td>
                  <td>{{parent.TestPlan.DueDate | date: 'MM/dd/yyyy'}}</td>
                  <td>
                    <div
                      class="text-center"
                      ng-bind-html="ctrl.getDraftTestPlanReceivedIndicator(parent)"
                    ></div>
                  </td>
                  <td>
                    <div
                      class="text-center"
                      ng-bind-html="ctrl.getDraftTestPlanManagerApprovalIndicator(parent)"
                    ></div>
                  </td>
                  <td>
                    <div
                      class="text-center"
                      ng-bind-html="ctrl.getTestsResultsReceivedIndicator(parent)"
                    ></div>
                  </td>
                  <td>
                    <div
                      class="text-center"
                      ng-bind-html="ctrl.getTestsResultsApprovedIndicator(parent)"
                    ></div>
                  </td>
                  <td>
                    <div
                      class="text-center"
                      ng-bind-html="ctrl.getStatusIndicator(parent.Status)"
                    ></div>
                  </td>
                  <td></td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="footer">
    <div>
      <button
        type="button"
        class="mark-approved-btn"
        ng-click="ctrl.markApproved()"
        ng-disabled="!ctrl.checkSelectedItemsLength()"
      >
        <i class="glyphicon glyphicon-ok"></i>
        Mark Approved
      </button>
    </div>
    <div>
      <ul
        uib-pagination
        total-items="ctrl.items.length"
        ng-model="ctrl.pageNumber"
        max-size="5"
        items-per-page="ctrl.itemsPerPage"
        class="pagination-sm"
        boundary-link-numbers="true"
        previous-text="<"
        next-text=">"
        ng-change="ctrl.filterData()"
      ></ul>
    </div>
  </div>
</div>
