<div class="applicationTestPlanDashboard component-block">
  <div class="header">
    <div class="headerTitle">
      <h3 class="sectionHeader">Application Test Plans</h3>
    </div>
    <div class="controlsBar">
      <div class="statusInfo">
        <div class="status">
          <span class="statusIndicator approvedStatus"></span>
          Completed
        </div>
        <div class="status">
          <span class="statusIndicator inProgressStatus"></span>
          In Progress
        </div>
        <div class="status">
          <span class="statusIndicator notStartedStatus"></span>
          Overdue
        </div>
      </div>
      <date-range
        on-range-change="ctrl.onDateRangeChange(startDate, endDate)"
        start-date="ctrl.filterStartDate"
        end-date="ctrl.filterEndDate"
      />
    </div>
  </div>
  <div>
    <table class="table">
      <tr>
        <th></th>
        <th>Application</th>
        <th>Test Plan Owner/POC</th>
        <th>Test Date</th>
        <th style="min-width: 140px">Draft Plan Received</th>
        <th style="min-width: 140px">Test Plan Approved</th>
        <th style="min-width: 140px">Draft Results Received</th>
        <th style="min-width: 140px">Results Approved</th>
      </tr>
      <tr ng-repeat="item in ctrl.filteredItems">
        <td>
          <a href="#/process-form/{{item.Id}}"
            ><i class="glyphicon glyphicon-edit editIcon"></i
          ></a>
        </td>
        <td>{{item.Application.Title}}</td>
        <td><div ng-repeat="i in item.Application.TestPlanOwner.results">{{i.Title}}</div></td>
        <td>{{item.DueDate | date: 'MM/dd/yyyy'}}</td>
        <td>
          <div
            class="text-center"
            ng-bind-html="ctrl.getDraftTestPlanReceivedIndicator(item)"
          ></div>
        </td>
        <td>
          <div
            class="text-center"
            ng-bind-html="ctrl.getDraftTestPlanManagerApprovalIndicator(item)"
          ></div>
        </td>
        <td>
          <div
            class="text-center"
            ng-bind-html="ctrl.getTestsResultsReceivedIndicator(item)"
          ></div>
        </td>
        <td>
          <div
            class="text-center"
            ng-bind-html="ctrl.getTestsResultsApprovedIndicator(item)"
          ></div>
        </td>
      </tr>
    </table>
  </div>
  <div class="footer">
    <div></div>
    <div>
      <ul
        uib-pagination
        total-items="ctrl.items.length"
        ng-model="ctrl.pageNumber"
        max-size="5"
        items-per-page="ctrl.itemsPerPage"
        class="pagination-sm"
        boundary-link-numbers="true"
        previous-text="<"
        next-text=">"
        ng-change="ctrl.filterData()"
      ></ul>
    </div>
  </div>
</div>
