<div class="import-applications component-block">
  <div class="form-header">
    <h2>Import Applications</h2>
  </div>
  <div class="form-body">
    <div class="upload-file">
      <div class="uploadFileContainer">
        <input
          style="display: none"
          type="file"
          name="attachment"
          id="import-file"
          ng-change="ctrl.onFileChange()"
          ng-model="ctrl.importFile"
        />
        <div class="fileNameContainer">
          <i
            class="glyphicon glyphicon-paperclip"
            style="font-size: 22px; margin-left: 2px"
          ></i>
          <div class="fileName">
            {{ctrl.importFile ? ctrl.importFile.name : ''}}
          </div>
        </div>
        <button
          type="button"
          class="uploadBtn"
          ng-click="ctrl.onClickUploadButton()"
        >
          Upload
        </button>
      </div>
      <div class="clear-file">
        <i
          class="glyphicon glyphicon-remove"
          ng-click="ctrl.resetFileInput()"
        ></i>
      </div>
    </div>
    <div class="import-data">
      <div class="import-data-header">
        <h4>Imported data</h4>
        <button
          type="button"
          class="btn importBtn"
          ng-click="ctrl.uploadData()"
        >
          Import
        </button>
        <button
          type="button"
          class="btn btn-warning"
          ng-click="ctrl.sendInitialEmails()"
          style="margin-left: 1em"
        >
          Start Process
        </button>
      </div>
      <table class="table">
        <tr>
          <th>Application</th>
          <th style="min-width: 150px">Test Plan Owner/POC</th>
          <th>Business Unit</th>
          <th style="min-width: 150px">Manager/Tech Owner</th>
          <th style="min-width: 150px">Director/Sub Portfolio Owner</th>
        </tr>
        <tr ng-repeat="item in ctrl.importData">
          <td>{{item.Application}}</td>
          <td>
            <div ng-repeat="i in item.TestPlanOwner">{{i.Title}}</div>
            <small ng-if="item.TestPlanOwner && item.TestPlanOwner.length"
              >({{item['Plan Owner']}})</small
            >
          </td>
          <td>{{item['Business Unit']}}</td>
          <td>
            {{item.ApprovingManager && item.ApprovingManager.Title ?
            item.ApprovingManager.Title : null}}
            <br />
            <small ng-if="item.ApprovingManager && item.ApprovingManager.Title"
              >({{item['Approving IT Manager/Tech Owner']}})</small
            >
          </td>
          <td>
            {{item.ApprovingDirector && item.ApprovingDirector.Title ?
            item.ApprovingDirector.Title : null}}
            <br />
            <small
              ng-if="item.ApprovingDirector && item.ApprovingDirector.Title"
              >({{item['Approving IT Director/Sub Portfolio Owner']}})</small
            >
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- <div ng-include="ctrl.emailTemplateUrl"></div> -->
