.section {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 2px solid #cbcbcb;
}
.closeBtn {
  width: 100px;
  padding: 0.5em 1em;
  margin: 0 1em;
  color: #818181;
  font-weight: 700;
  background: transparent;
  border: 2px solid #818181;
  cursor: pointer;
}
.closeBtn:hover {
  background: #e7e7e7;
}
.closeBtn:focus {
  outline: none;
}
.submitBtn {
  width: 100px;
  padding: 0.5em 1em;
  margin: 0 1em;
  color: #de0000;
  font-weight: 700;
  background: transparent;
  border: 2px solid #de0000;
  cursor: pointer;
}
.submitBtn:hover {
  background: #f8d1d1;
}
.submitBtn:focus {
  outline: none;
}
