<div class="email-templates">
  <div class="header">
    <h3 class="sectionHeader">Emails Template</h3>
    <button ng-if="!ctrl.selectedTemplate"
      type="button"
      class="btn btn-success"
      ng-click="ctrl.addNewTemplate()"
    >
      Add New
    </button>
  </div>
  <div ng-if="!ctrl.selectedTemplate">
    <table class="table email-templates-table">
      <tr>
        <th style="width: 5%"></th>
        <th style="width: 17%">Name</th>
        <th style="width: 6%">Category</th>
        <th style="width: 17%">Subject</th>
        <th style="width: 55%">Body</th>
      </tr>
      <tr ng-repeat="item in ctrl.allEmailTemplates">
        <td>
          <i
            class="glyphicon glyphicon-edit editIcon"
            ng-click="ctrl.editTemplate(item)"
          ></i>
          <i
            class="glyphicon glyphicon-trash removeIcon"
            ng-click="ctrl.deleteEmailTemplate(item)"
          ></i>
        </td>
        <td>{{item.Name}}</td>
        <td>{{item.Category}}</td>
        <td>{{item.Subject}}</td>
        <td>
          <div
            ng-bind-html="ctrl.trustHtml(item.Body)"
            class="email-body"
          ></div>
        </td>
      </tr>
    </table>
  </div>
  <div ng-if="ctrl.selectedTemplate">
    <ng-form name="ctrl.form">
      <div class="form-group">
        <label for="Name" class="control-label required">Name</label>
        <textarea
          rows="3"
          class="form-control"
          name="Name"
          id="Name"
          ng-model="ctrl.selectedTemplate.Name"
          required
        ></textarea>
        <span
          class="error-msg"
          ng-show="ctrl.form.Name.$touched && ctrl.form.Name.$invalid"
          >Name is required.</span
        >
      </div>
      <div class="form-group">
        <label for="Category" class="control-label">Category</label>
        <select
          name="Category"
          class="form-control"
          ng-model="ctrl.selectedTemplate.Category"
          ng-options="i as i for i in ctrl.categoryOptions track by i"
          required
        ></select>
        <span
          class="error-msg"
          ng-show="ctrl.form.Category.$touched && ctrl.form.Category.$invalid"
          >Category is required.</span
        >
      </div>
      <div class="form-group">
        <label for="Subject" class="control-label required">Subject</label>
        <textarea
          rows="3"
          class="form-control"
          name="Subject"
          id="Subject"
          ng-model="ctrl.selectedTemplate.Subject"
          required
        ></textarea>
        <span
          class="error-msg"
          ng-show="ctrl.form.Subject.$touched && ctrl.form.Subject.$invalid"
          >Subject is required.</span
        >
      </div>
      <div class="form-group">
        <label for="Body" class="control-label required">Body</label>
        <textarea
          name="Body"
          ui-tinymce="ctrl.options"
          ng-model="ctrl.selectedTemplate.Body"
          ng-class="{'ng-untouched': (!ctrl.form.Body.$touched)}"
          required
        ></textarea>
        <span class="error-msg" ng-show="ctrl.form.Body.$touched && ctrl.form.Body.$invalid"
          >Body is required.</span
        >
      </div>
    </ng-form>
    <div class="modal-footer">
      <button
        class="btn btn-warning"
        type="button"
        ng-click="ctrl.cancelEdit()"
      >
        Cancel
      </button>
      <button
        class="btn btn-success"
        type="button"
        ng-click="ctrl.saveTemplate()"
      >
        Save
      </button>
    </div>
  </div>
</div>
