<div class="draft-test-plan">
  <div class="form-header">
    <h2>Test Plan</h2>
  </div>
  <div class="form-body">
    <div>
      <div class="uploadFileContainer">
        <input
          style="display: none"
          type="file"
          name="attachment"
          id="attachment-file"
          ng-change="ctrl.onFileChange()"
          ng-model="ctrl.item.TestPlanAttachment"
        />
        <div class="fileNameContainer">
          <i
            class="glyphicon glyphicon-paperclip"
            style="font-size: 22px; margin-left: 2px"
          ></i>
          <div class="fileName">
            {{ctrl.item.TestPlanAttachment ? (ctrl.item.TestPlanAttachment.name
            || ctrl.item.TestPlanAttachment.Name) : ''}}
          </div>
        </div>
        <button
          type="button"
          class="uploadBtn"
          ng-click="ctrl.onClickUploadButton()"
          ng-disabled="ctrl.item.TestPlanAttachment.Name"
        >
          Upload
        </button>
      </div>
      <div class="filesContainer">
        <div
          class="file"
          ng-if="ctrl.item.TestPlanAttachment && (ctrl.item.TestPlanAttachment.name || ctrl.item.TestPlanAttachment.Name)"
        >
          <a
            target="_blank"
            ng-href="{{ctrl.item.TestPlanAttachment.Name ? (ctrl.item.TestPlanAttachment.LinkingUrl || ctrl.item.TestPlanAttachment.ServerRelativeUrl) : ''}}"
            >{{(ctrl.item.TestPlanAttachment.name ||
            ctrl.item.TestPlanAttachment.Name)}}</a
          >
          <div>
            <span
              >{{this.formatBytes(ctrl.item.TestPlanAttachment.size ||
              ctrl.item.TestPlanAttachment.Length)}}</span
            >
            <i
              ng-if="(ctrl.item.TestPlanAttachment.name || ctrl.item.TestPlanAttachment.Name) && ctrl.item.Stage === 1"
              class="glyphicon glyphicon-remove"
              ng-click="ctrl.resetFileInput()"
              style="font-size: 10px; cursor: pointer; margin-left: 10px"
            ></i>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p ng-if="ctrl.checkShowReUploadMsg()" class="bg-warning" style="padding: 10px;">
        Note: To re-upload a test plan, first click on the <b>"x"</b> next to the
        current test plan and then select <b>"Upload"</b>
      </p>
    </div>
    <div class="exercise-timeline">
      <h4>Exercise timeline</h4>
      <div>
        <table class="table">
          <tr>
            <th style="width: 5%"></th>
            <th style="width: 25%">Exercise Tasks</th>
            <th style="width: 10%">Owner(s)</th>
            <th style="width: 40%">Task Description</th>
            <th style="width: 20%">Due Date</th>
          </tr>
          <tr ng-repeat="item in ctrl.exerciseTimelineItems track by $index">
            <td class="text-center">{{$index+1}}</td>
            <td>{{item.Title}}</td>
            <td>{{item.Owners}}</td>
            <td>
              <div ng-bind-html="ctrl.textToHtml(item.Description)"></div>
            </td>
            <td>{{item.DueDate | date: 'MM/dd/yyyy'}}</td>
          </tr>
        </table>
        <!-- <div class="text-right" ng-if="ctrl.item.Stage === 1">
          <span class="add-timeline-row" ng-click="ctrl.openTimelineModal()"
            >Add row <i class="glyphicon glyphicon-plus"></i
          ></span>
        </div> -->
      </div>
    </div>
    <div class="approval-status" ng-if="ctrl.item.Stage >= 2">
      <div class="approval-status-header">
        <h4>Approval Status</h4>
        <div class="approval-status-info">
          <div class="approved">
            <div ng-bind-html="ctrl.getApprovalStatus('Approved')"></div>
            Approved
          </div>
          <div class="cancelled">
            <div ng-bind-html="ctrl.getApprovalStatus('Canceled')"></div>
            Canceled
          </div>
          <div class="rejected">
            <div ng-bind-html="ctrl.getApprovalStatus('Rejected')"></div>
            Rejected
          </div>
        </div>
      </div>
      <div>
        <table class="table approva-table">
          <tr>
            <th>Role</th>
            <th>Name</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
          <tr ng-repeat="item in ctrl.approvalStatusItems track by $index">
            <td>{{item.Role}}</td>
            <td>
              {{ctrl.item[item.UserFieldName] ?
              ctrl.item[item.UserFieldName].Title : null}}
            </td>
            <td>{{ctrl.item[item.DateFieldName] | date: 'MM/dd/yyyy'}}</td>
            <td>
              <div ng-bind-html="ctrl.checkApprovalStatus(item)"></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="text-center">
      <p class="error-msg" ng-show="ctrl.errors.draftFile">
        {{ctrl.errors.draftFile}}
      </p>
      <p class="error-msg" ng-show="ctrl.errors.exerciseTimelineItems">
        {{ctrl.errors.exerciseTimelineItems}}
      </p>
    </div>
    <div class="text-center form-footer" ng-if="ctrl.item.Stage === 1">
      <button type="button" class="closeBtn" ng-click="ctrl.close()">
        Close
      </button>
      <button type="button" class="submitBtn" ng-click="ctrl.submit()">
        Submit
      </button>
    </div>
    <div
      class="text-center form-footer"
      ng-if="ctrl.item.Stage === 2 && ctrl.checkShowApproverControl()"
    >
      <button type="button" class="closeBtn" ng-click="ctrl.close()">
        Close
      </button>
      <button type="button" class="reject-btn" ng-click="ctrl.reject()">
        Reject
      </button>
      <button type="button" class="cancel-btn" ng-click="ctrl.cancel()" ng-if="ctrl.showCancelBtn()">
        Cancel
      </button>
      <button type="button" class="approve-btn" ng-click="ctrl.approve()">
        Approve
      </button>
    </div>
  </div>
</div>
