<div class="draft-test-plan">
  <div class="form-header">
    <h2>Test Plan</h2>
  </div>
  <div class="form-body">
    <div>
      <div class="uploadFileContainer">
        <input
          style="display: none"
          type="file"
          name="attachment"
          id="attachment-file"
          ng-change="ctrl.onFileChange()"
          ng-model="ctrl.draftFile"
        />
        <div class="fileNameContainer">
          <i
            class="glyphicon glyphicon-paperclip"
            style="font-size: 22px; margin-left: 2px"
          ></i>
          <div class="fileName">
            {{ctrl.draftFile && ctrl.draftFile.name ? ctrl.draftFile.name : ''}}
          </div>
        </div>
        <button
          type="button"
          class="uploadBtn"
          ng-click="ctrl.onClickUploadButton()"
        >
          Upload
        </button>
      </div>
      <div class="filesContainer">
        <div class="file" ng-if="ctrl.draftFile && ctrl.draftFile.name">
          <a>{{ctrl.draftFile.name}}</a>
          <div>
            <span>{{this.formatBytes(ctrl.draftFile.size)}}</span>
            <i
              class="glyphicon glyphicon-remove"
              ng-click="ctrl.resetFileInput()"
              style="font-size: 10px; cursor: pointer; margin-left: 10px"
            ></i>
          </div>
        </div>
      </div>
    </div>
    <div class="excercise-timeline">
      <h4>Excercise timeline</h4>
      <div>
        <table class="table">
          <tr>
            <th></th>
            <th style="width: 20%">Excercise</th>
            <th style="width: 40%">Description</th>
            <th>Due Date</th>
            <th style="width: 20%">
              Additional Attachments
              <i class="glyphicon glyphicon-paperclip"></i>
            </th>
            <th ng-if="ctrl.item.Stage === 1"></th>
          </tr>
          <tr ng-repeat="item in ctrl.excerciseTimelineItems track by $index">
            <td class="text-center">{{$index+1}}</td>
            <td>{{item.Title}}</td>
            <td>
              <div ng-bind-html="ctrl.textToHtml(item.Description)"></div>
            </td>
            <td>{{item.DueDate | date: 'MM/dd/yyyy'}}</td>
            <td>
              <div>
                <a
                  ng-if="item.ResourcesLink"
                  ng-href="{{item.ResourcesLink}}"
                  target="_blank"
                  >Link</a
                >
              </div>
              <div>
                <a
                  ng-if="item.ResourcesFile"
                  ng-href="{{item.ResourcesFile.url}}"
                  target="_blank"
                  >{{item.ResourcesFile.name}}</a
                >
              </div>
            </td>
            <td ng-if="ctrl.item.Stage === 1">
              <i class="glyphicon glyphicon-pencil"></i>
              <i class="glyphicon glyphicon-trash"></i>
            </td>
          </tr>
        </table>
        <div class="text-right" ng-if="ctrl.item.Stage === 1">
          <span class="add-timeline-row" ng-click="ctrl.openTimelineModal()"
            >Add row <i class="glyphicon glyphicon-plus"></i
          ></span>
        </div>
      </div>
    </div>
    <div class="approval-status" ng-if="ctrl.item.Stage === 2">
      <div class="approval-status-header">
        <h4>Approval Status</h4>
        <div class="approval-status-info">
          <div class="approved">
            <div ng-bind-html="ctrl.getApprovalStatus('Approved')"></div>
            Approved
          </div>
          <div class="cancelled">
            <div ng-bind-html="ctrl.getApprovalStatus('Cancelled')"></div>
            Cancelled
          </div>
          <div class="rejected">
            <div ng-bind-html="ctrl.getApprovalStatus('Rejected')"></div>
            Rejected
          </div>
        </div>
      </div>
      <div>
        <table class="table">
          <tr>
            <th>Role</th>
            <th>Name</th>
            <th>Date</th>
            <th>Approval</th>
          </tr>
          <tr ng-repeat="item in ctrl.approvalStatusItems track by $index">
            <td>{{item.Role}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.Date | date: 'MM/dd/yyyy'}}</td>
            <td>
              <div ng-bind-html="ctrl.getApprovalStatus(item.Status)"></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="text-center">
      <p class="error-msg" ng-show="ctrl.errors.draftFile">
        {{ctrl.errors.draftFile}}
      </p>
      <p class="error-msg" ng-show="ctrl.errors.excerciseTimelineItems">
        {{ctrl.errors.excerciseTimelineItems}}
      </p>
    </div>
    <div class="text-center form-footer" ng-if="ctrl.item.Stage === 1">
      <button type="button" class="closeBtn" ng-click="ctrl.close()">
        Close
      </button>
      <button type="button" class="submitBtn" ng-click="ctrl.submit()">
        Submit
      </button>
    </div>
  </div>
</div>
