.post-tests-results .form-header h2 {
  color: #de0000;
  margin: 1em 0;
}
.post-tests-results .form-body .uploadBtn {
  width: 80px;
  color: #fff;
  font-weight: 700;
  background-color: #ff9d00;
  padding: 0.5em 1em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.post-tests-results h4 {
  font-weight: 600;
  margin: 10px 0;
}
.post-tests-results .form-body .uploadBtn:hover {
  background-color: #ffcf83;
}
.post-tests-results .form-body .uploadBtn:focus {
  outline: none;
}
.post-tests-results .form-body .uploadFileContainer {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  border: 1px solid #818181;
  border-radius: 3px;
}
.post-tests-results .form-body .uploadFileContainer .fileNameContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.post-tests-results
  .form-body
  .uploadFileContainer
  .fileNameContainer
  .fileName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 10px;
}
.post-tests-results .form-body .filesContainer {
  width: 50%;
  margin: 1em 0;
}
.post-tests-results .form-body .filesContainer .file {
  display: flex;
  justify-content: start;
  align-items: center;
}
.approval-status {
  margin-top: 2em;
}
.approval-status-header,
.approval-status-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.approval-status-info > div {
  margin-right: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.approval-status-info .approved {
  color: #2eca79;
}
.approval-status-info .cancelled {
  color: #02b2f1;
}
.approval-status-info .rejected {
  color: #de0000;
}
.approval-status .table th,
.approval-status .table td {
  padding: 8px 2em;
}
.status-icon {
  width: 26px;
  margin-right: 5px;
}
