.admin-dashboard .table th {
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
  }
  .admin-dashboard .table td {
    padding: 5px 10px;
    vertical-align: middle;
  }
  .admin-dashboard .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .admin-dashboard .header .headerTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .admin-dashboard .header .sectionHeader {
    margin-left: 10px;
    margin: 1em 0 1em 10px;
    color: #de0000;
  }
  .admin-dashboard .header .controlsBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .admin-dashboard .header .controlsBar .statusInfo {
    margin-right: 1em;
  }
  .admin-dashboard .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0 1em;
  }
  .admin-dashboard .status {
    display: inline-block;
    margin-right: 1em;
  }
  .admin-dashboard .statusIndicator {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
  .admin-dashboard .statusIndicator.approvedStatus {
    background-color: #2eca79;
  }
  .admin-dashboard .statusIndicator.inProgressStatus {
    background-color: #ff9d00;
  }
  .admin-dashboard .statusIndicator.notStartedStatus {
    background-color: #de0000;
  }
  .admin-dashboard .startNewProcessBtn {
    color: #fff;
    font-weight: 500;
    background-color: #ff9d00;
    margin-left: 2em;
  }
  