<div class="admin-dashboard component-block">
  <div class="header">
    <div class="headerTitle">
      <h3 class="sectionHeader">DR Application</h3>
    </div>
    <div class="controlsBar">
      <div class="statusInfo">
        <div class="status">
          <span class="statusIndicator approvedStatus"></span>
          Completed
        </div>
        <div class="status">
          <span class="statusIndicator inProgressStatus"></span>
          In Progress
        </div>
        <div class="status">
          <span class="statusIndicator notStartedStatus"></span>
          Overdue
        </div>
      </div>
      <date-range
        on-range-change="ctrl.onDateRangeChange(startDate, endDate)"
        start-date="ctrl.filterStartDate"
        end-date="ctrl.filterEndDate"
      />
    </div>
  </div>
  <div class="form-inline filter-container">
    <div class="form-group">
      <label for="Filter" style="margin-bottom: 0">Search:</label>
      <input
        type="text"
        class="form-control"
        ng-model="ctrl.filterValue"
        ng-change="ctrl.onChangeFilter()"
        placeholder="type..."
      />
    </div>
    <div class="form-group">
      <label for="ColumnsSelector" style="margin-bottom: 0"
        >Select columns:</label
      >
      <ng-dropdown-multiselect
        options="ctrl.columns"
        selected-model="ctrl.selectedColumns"
        checkboxes="true"
        extra-settings="ctrl.columnSelectorsettings"
      ></ng-dropdown-multiselect>
    </div>
    <div class="form-group">
      <button
        type="button"
        class="btn btn-success"
        ng-click="ctrl.exportToExcel()"
      >
        Export to Excel<i></i>
      </button>
    </div>
    <div class="form-group">
      <label>Show Archived?</label>
      <switch-button
        devaultValue="ctrl.showArchivedItems"
        on-change="ctrl.onShowArchivedItems(value)"
      ></switch-button>
    </div>
  </div>
  <div>
    <table class="table">
      <tr>
        <th></th>
        <th
          ng-click="ctrl.sortData('Application')"
          class="sorted-column"
          ng-if="ctrl.isSelected('Application')"
        >
          <span>
            Application
            <i
              ng-if="ctrl.sortColumn === 'Application'"
              class="glyphicon"
              ng-class="ctrl.sortAscending ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"
            ></i>
          </span>
        </th>
        <th
          ng-click="ctrl.sortData('TestPlanOwner')"
          class="sorted-column"
          ng-if="ctrl.isSelected('TestPlanOwner')"
        >
          <span>
            Test Plan Owner/POC
            <i
              ng-if="ctrl.sortColumn === 'TestPlanOwner'"
              class="glyphicon"
              ng-class="ctrl.sortAscending ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"
            ></i>
          </span>
        </th>
        <th
          ng-click="ctrl.sortData('DueDate')"
          class="sorted-column"
          ng-if="ctrl.isSelected('DueDate')"
        >
          <span>
            Test Date
            <i
              ng-if="ctrl.sortColumn === 'DueDate'"
              class="glyphicon"
              ng-class="ctrl.sortAscending ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"
            ></i>
          </span>
        </th>
        <th
          style="min-width: 140px; text-align: center"
          ng-if="ctrl.isSelected('DraftPlanReceived')"
        >
          Draft Plan Received
        </th>
        <th
          style="min-width: 140px; text-align: center"
          ng-if="ctrl.isSelected('TestPlanApproved')"
        >
          Test Plan Approved
        </th>
        <th
          style="min-width: 140px; text-align: center"
          ng-if="ctrl.isSelected('DraftResultsReceived')"
        >
          Draft Results Received
        </th>
        <th
          style="text-align: center"
          ng-if="ctrl.isSelected('ResultsApproved')"
        >
          Results Approved
        </th>
        <th
          style="text-align: center"
          ng-if="ctrl.isSelected('OwnershipAccepted')"
        >
          Ownership Accepted
        </th>
        <th
          style="min-width: 140px; text-align: center"
          ng-if="ctrl.isSelected('TestDateSubmitted')"
        >
          Test Date Submitted
        </th>
        <th style="width: 20px"></th>
      </tr>
      <tbody ng-repeat="parent in ctrl.filteredItems">
        <tr
          class="parent-row"
          ng-class="{'alone': !parent.ChildrenItems || !parent.ChildrenItems.length, 'archived-record': parent.ApplicationStatus === 'Archive'}"
          ng-click="parent.isCollapsed = !parent.isCollapsed"
        >
          <td>
            <a ng-if="parent.TestPlan && parent.TestPlan.Id" href="#/process-form/{{parent.TestPlan.Id}}"
              ><i class="glyphicon glyphicon-edit editIcon"></i
            ></a>
          </td>
          <td ng-if="ctrl.isSelected('Application')">{{parent.Title}}</td>
          <td ng-if="ctrl.isSelected('TestPlanOwner')">
            <div ng-repeat="i in parent.TestPlanOwner.results">{{i.Title}}</div>
          </td>
          <td ng-if="ctrl.isSelected('DueDate')">
            {{parent.TestPlan.DueDate | date: 'MM/dd/yyyy'}}
          </td>
          <td ng-if="ctrl.isSelected('DraftPlanReceived')">
            <div
              class="text-center"
              ng-bind-html="ctrl.getDraftTestPlanReceivedIndicator(parent)"
            ></div>
          </td>
          <td ng-if="ctrl.isSelected('TestPlanApproved')">
            <div
              class="text-center"
              ng-bind-html="ctrl.getDraftTestPlanManagerApprovalIndicator(parent)"
            ></div>
          </td>
          <td ng-if="ctrl.isSelected('DraftResultsReceived')">
            <div
              class="text-center"
              ng-bind-html="ctrl.getTestsResultsReceivedIndicator(parent)"
            ></div>
          </td>
          <td ng-if="ctrl.isSelected('ResultsApproved')">
            <div
              class="text-center"
              ng-bind-html="ctrl.getTestsResultsApprovedIndicator(parent)"
            ></div>
          </td>
          <td ng-if="ctrl.isSelected('OwnershipAccepted')">
            <div
              class="text-center"
              ng-bind-html="ctrl.getOwnershipAcceptedIndicator(parent)"
            ></div>
          </td>
          <td ng-if="ctrl.isSelected('TestDateSubmitted')">
            <div
              class="text-center"
              ng-bind-html="ctrl.getTestdateSubmittedIndicator(parent)"
            ></div>
          </td>
          <td>
            <i
              ng-if="parent.ChildrenItems && parent.ChildrenItems.length"
              class="glyphicon"
              ng-class="parent.isCollapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"
            ></i>
          </td>
        </tr>
        <tr
          ng-class="{'archived-record': parent.ApplicationStatus === 'Archive'}"
        >
          <td
            ng-if="parent.ChildrenItems && parent.ChildrenItems.length"
            colspan="11"
            class="children-row-cell"
          >
            <div uib-collapse="parent.isCollapsed">
              <table class="children-table">
                <tr ng-repeat="item in parent.ChildrenItems">
                  <td></td>
                  <td ng-if="ctrl.isSelected('Application')">{{item.Title}}</td>
                  <td ng-if="ctrl.isSelected('TestPlanOwner')">
                    <div ng-repeat="i in item.TestPlanOwner.results">
                      {{i.Title}}
                    </div>
                  </td>
                  <td ng-if="ctrl.isSelected('DueDate')">
                    {{parent.TestPlan.DueDate | date: 'MM/dd/yyyy'}}
                  </td>
                  <td ng-if="ctrl.isSelected('DraftPlanReceived')">
                    <div
                      class="text-center"
                      ng-bind-html="ctrl.getDraftTestPlanReceivedIndicator(parent)"
                    ></div>
                  </td>
                  <td ng-if="ctrl.isSelected('TestPlanApproved')">
                    <div
                      class="text-center"
                      ng-bind-html="ctrl.getDraftTestPlanManagerApprovalIndicator(parent)"
                    ></div>
                  </td>
                  <td ng-if="ctrl.isSelected('DraftResultsReceived')">
                    <div
                      class="text-center"
                      ng-bind-html="ctrl.getTestsResultsReceivedIndicator(parent)"
                    ></div>
                  </td>
                  <td ng-if="ctrl.isSelected('ResultsApproved')">
                    <div
                      class="text-center"
                      ng-bind-html="ctrl.getTestsResultsApprovedIndicator(parent)"
                    ></div>
                  </td>
                  <td ng-if="ctrl.isSelected('OwnershipAccepted')">
                    <div
                      class="text-center"
                      ng-bind-html="ctrl.getOwnershipAcceptedIndicator(parent)"
                    ></div>
                  </td>
                  <td ng-if="ctrl.isSelected('TestDateSubmitted')">
                    <div
                      class="text-center"
                      ng-bind-html="ctrl.getTestdateSubmittedIndicator(parent)"
                    ></div>
                  </td>
                  <td></td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="footer">
    <div></div>
    <div>
      <ul
        uib-pagination
        total-items="ctrl.items.length"
        ng-model="ctrl.pageNumber"
        max-size="5"
        items-per-page="ctrl.itemsPerPage"
        class="pagination-sm"
        boundary-link-numbers="true"
        previous-text="<"
        next-text=">"
        ng-change="ctrl.filterData()"
      ></ul>
    </div>
  </div>
</div>
