<div class="application-ownership-dashboard component-block">
  <div class="header">
    <h3 class="sectionHeader">Application Ownership</h3>
    <div class="controlsBar">
      <div class="statusInfo">
        <div class="status">
          <span class="statusIndicator approvedStatus"></span>
          Completed
        </div>
        <div class="status">
          <span class="statusIndicator inProgressStatus"></span>
          In Progress
        </div>
        <div class="status">
          <span class="statusIndicator notStartedStatus"></span>
          Overdue
        </div>
      </div>
      <date-range
        on-range-change="ctrl.onDateRangeChange(startDate, endDate)"
        start-date="ctrl.filterStartDate"
        end-date="ctrl.filterEndDate"
      />
    </div>
  </div>
  <div class="form-inline filter-container">
    <div class="form-group">
      <label for="Filter" style="margin-bottom: 0">Filter:</label>
      <input
        type="text"
        class="form-control"
        ng-model="ctrl.filterValue"
        ng-change="ctrl.onChangeFilter()"
        placeholder="type..."
      />
    </div>
  </div>
  <div>
    <table class="table">
      <tr>
        <th>Approve</th>
        <th>Edit</th>
        <th ng-click="ctrl.sortData('BusinessUnit')" class="sorted-column">
          Business Unit
          <i
            ng-if="ctrl.sortColumn === 'BusinessUnit'"
            class="glyphicon"
            ng-class="ctrl.sortAscending ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"
          ></i>
        </th>
        <th ng-click="ctrl.sortData('Title')" class="sorted-column">
          Application
          <i
            ng-if="ctrl.sortColumn === 'Title'"
            class="glyphicon"
            ng-class="ctrl.sortAscending ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"
          ></i>
        </th>
        <th ng-click="ctrl.sortData('ApprovingManager')" class="sorted-column">
          Manager/Tech Owner
          <i
            ng-if="ctrl.sortColumn === 'ApprovingManager'"
            class="glyphicon"
            ng-class="ctrl.sortAscending ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"
          ></i>
        </th>
        <th ng-click="ctrl.sortData('ApprovingDirector')" class="sorted-column">
          Director/Sub Portfolio Owner
          <i
            ng-if="ctrl.sortColumn === 'ApprovingDirector'"
            class="glyphicon"
            ng-class="ctrl.sortAscending ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"
          ></i>
        </th>
        <th ng-click="ctrl.sortData('TestPlanOwner')" class="sorted-column">
          Test Plan Owner/POC
          <i
            ng-if="ctrl.sortColumn === 'TestPlanOwner'"
            class="glyphicon"
            ng-class="ctrl.sortAscending ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"
          ></i>
        </th>
        <th>Status</th>
        <th style="width: 20px"></th>
      </tr>

      <tbody ng-repeat="parent in ctrl.filteredItems">
        <tr
          class="parent-row"
          ng-class="{'alone': !parent.ChildrenItems || !parent.ChildrenItems.length}"
          ng-click="parent.isCollapsed = !parent.isCollapsed"
        >
          <td>
            <div
              class="checkbox text-center"
              ng-if="parent.Status !== 'Completed'"
            >
              <label>
                <input type="checkbox" ng-model="parent.selected" />
              </label>
            </div>
          </td>
          <td>
            <i
              ng-if="parent.Status !== 'Completed'"
              class="glyphicon glyphicon-edit editIcon"
              ng-click="ctrl.setIncorrectData(parent)"
            ></i>
          </td>
          <td>{{parent.BusinessUnit}}</td>
          <td>{{parent.Title}}</td>
          <td>{{parent.ApprovingManager.Title}}</td>
          <td>{{parent.ApprovingDirector.Title}}</td>
          <td>
            <div ng-repeat="i in parent.TestPlanOwner.results">{{i.Title}}</div>
          </td>
          <td>
            <div
              class="text-center"
              ng-bind-html="ctrl.getStatusIndicator(parent.Status)"
            ></div>
          </td>
          <td>
            <i
              ng-if="parent.ChildrenItems && parent.ChildrenItems.length"
              class="glyphicon"
              ng-class="parent.isCollapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"
            ></i>
          </td>
        </tr>
        <tr>
          <td ng-if="parent.ChildrenItems && parent.ChildrenItems.length" colspan="9" class="children-row-cell">
            <div uib-collapse="parent.isCollapsed">
              <table class="children-table">
                <tr ng-repeat="item in parent.ChildrenItems">
                  <td></td>
                  <td></td>
                  <td>{{item.BusinessUnit}}</td>
                  <td>{{item.Title}}</td>
                  <td>{{item.ApprovingManager.Title}}</td>
                  <td>{{item.ApprovingDirector.Title}}</td>
                  <td>
                    <div ng-repeat="i in item.TestPlanOwner.results">
                      {{i.Title}}
                    </div>
                  </td>
                  <td>
                    <div
                      class="text-center"
                      ng-bind-html="ctrl.getStatusIndicator(item.Status)"
                    ></div>
                  </td>
                  <td></td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="footer">
    <div>
      <button
        type="button"
        class="mark-approved-btn"
        ng-click="ctrl.markApproved()"
        ng-disabled="!ctrl.checkSelectedItemsLength()"
      >
        <i class="glyphicon glyphicon-ok"></i>
        Mark Approved
      </button>
    </div>
    <div>
      <ul
        uib-pagination
        total-items="ctrl.items.length"
        ng-model="ctrl.pageNumber"
        max-size="5"
        items-per-page="ctrl.itemsPerPage"
        class="pagination-sm"
        boundary-link-numbers="true"
        previous-text="<"
        next-text=">"
        ng-change="ctrl.filterData()"
      ></ul>
    </div>
  </div>
</div>
